fastapi
uvicorn[standard]
piper-tts
sounddevice
numpy
requests
SpeechRecognition
google-cloud-speech
ollama
pydantic
uvicorn
requests
speechrecognition
sounddevice
scipy
numpy<2.1
openai-whisper
piper-tts
huggingface_hub
indic-transliteration
transformers
sentencepiece
